<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edicion</title>
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="{% static 'estilos/main-añadir.css'%}">
   
    
</head>
<body>
    <div class="contain">
        <div class="navegation">

            <ul>
                <li>
                    <a href="../usuarios/entrenador.html">
                        <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></ion-icon></ion-icon></span>
                        <span class="title">Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="/anadir">
                        <span class="icon"><ion-icon name="add-circle-outline"></ion-icon></ion-icon></span>
                        <span class="title">Añadir deportista</span>
                    </a>
                </li> 
                <li>
                    <a href="/listar">
                        <span class="icon"><ion-icon name="basketball-outline"></ion-icon></ion-icon></span>
                        <span class="title">Listado de jugadores  </span>
                    </a>
                </li>
                <li>
                    <a href="/puntos">
                        <span class="icon"><ion-icon name="basketball-outline"></ion-icon></ion-icon></span>
                        <span class="title">Puntos por partido</span>
                    </a>
                </li>  <li>
                    <a href="/tiroDos">
                        <span class="icon"><ion-icon name="basketball-outline"></ion-icon></ion-icon></span>
                        <span class="title">Porcentaje de tiro de dos </span>
                    </a>
                </li>  <li>
                    <a href="/tiroTres">
                        <span class="icon"><ion-icon name="basketball-outline"></ion-icon></ion-icon></span>
                        <span class="title">Porcentaje de tiro de tres</span>
                    </a>
                </li>  <li>
                    <a href="salto.html">
                        <span class="icon"><ion-icon name="basketball-outline"></ion-icon></span>
                        <span class="title">Salto vertical</span>
                    </a>
                </li>
                <li>
                    <a href="/robo">
                        <span class="icon"><ion-icon name="basketball-outline"></ion-icon></span>
                        <span class="title">Robos por partido</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="union">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="search">
                   <h1>Puntos del deportista</h1>
                </div>
            
                <div class="user">
                    <img src="{% static 'imagenes/logo.jpeg'%}" alt="">
                </div>
            
            </div>

<!-- este es el formulario para añadir un nuevo jugador -->

<div class="container py-4">

    <div class="row">
        <div class="col-md-4 offset-md-4"></div>

        <h2>Cambios</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarResultados/" method="POST">{% csrf_token %}
                    <input type="hidden" id="txtid" name="txtid" value="{{Puntos.id}}">
                   
                  
                    <div class="form-group">
                        <input type="text" id="numPuntos" name="numPuntos"   placeholder="puntos del partido" class="form-control" min="1" max="9"
                             required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static 'javaScrip/entrenador.js' %}"></script>




</body>
</html>